.inputs{
    border: 1px solid black;
    border-radius: 100%;
}

.buttonSect{
   display: flex;
   justify-content: center;
   margin: 30px 30px;
}

.CharactersButtons{
    justify-content: space-around;
    margin: 2px 2px;
}

.charText{
    justify-content: center;
}

.parragraphs{
    margin: 0 30%;
    justify-content: center;
    font-size: 1.25rem;
}

body{
    background-color:cornflowerblue ;
}